body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Toastify__close-button .Toastify__close-button--error {
  background-color: #f86c6b;
}

.Toastify__close-button .Toastify__close-button--success {
  background-color: #4dbd74;
}

.content-form {  
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch-ativo {
  display: flex;
  flex-direction: column;
  justify-content: center;   
  margin-top: 8px; 
}